@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../../../fonts/MuseoSansCyrl-900.woff2') format('woff2'),
         url('../../../fonts/MuseoSansCyrl-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../../../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
         url('../../../fonts/MuseoSansCyrl-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../../../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
         url('../../../fonts/MuseoSansCyrl-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* @font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../../../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
         url('../../../fonts/MuseoSansCyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
} */

/* @font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../../../fonts/MuseoSansCyrl-100.woff2') format('woff2'),
         url('../../../fonts/MuseoSansCyrl-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
} */

// @include import-font($font-name: 'Museo Sans Cyrl', $font-weight: 500, $font-style: null, $types: woff2 woff);
// @include import-font($font-name: 'MuseoSansCyrl', $font-weight: 500, $font-style: null, $types: woff2 woff);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 500 16px $main-font-family;
	background-color: $main-light-grey-color;
    color: $main-dark-grey-color;
}

a, button, input {
    outline: none;
}

.container {
	max-width: 1272px;
	margin: 0 auto;
}