div.news
	div.news__wrap
		p.block-title Новости о компании
		ul.news__sources
			li.news__source
				a.news__source-link.news__source-link--active(href='#') В интернете
			li.news__source
				a.news__source-link(href='#') Incomer Finance
	
	div.news__tabs
		div.news__tab.news__tab--active
			div.news__day
				p.news__date Сегодня, 4 ноября
				ul.news__list
					li.news__item
						a.news__link(href='#')
							span.news__time 14:35
							p.news__content Производство Tesla 3 достигло 6.000 единиц в сутки
							span.news__site rbc.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 14:30
							p.news__content В Госдуме пообещали крипторублю судьбу традиционных денег
							span.news__site forbes.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 13:29
							p.news__content Вы могли это пропустить: падение объема торгов и подъем крипторынка
							span.news__site lenta.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 13:12
							p.news__content Производство Tesla 3 достигло 6.000 единиц в сутки
							span.news__site rbc.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 12:01
							p.news__content Производство Tesla 3 достигло 6.000 единиц в сутки
							span.news__site rbc.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 11:51
							p.news__content В Госдуме пообещали крипторублю судьбу традиционных денег
							span.news__site forbes.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 11:36
							p.news__content Вы могли это пропустить: падение объема торгов и подъем крипторынка
							span.news__site lenta.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 11:09
							p.news__content Производство Tesla 3 достигло 6.000 единиц в сутки
							span.news__site rbc.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 11:08
							p.news__content Производство Tesla 3 достигло 6.000 единиц в сутки
							span.news__site rbc.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 11:02
							p.news__content В Госдуме пообещали крипторублю судьбу традиционных денег
							span.news__site forbes.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 09:48
							p.news__content Вы могли это пропустить: падение объема торгов и подъем крипторынка
							span.news__site lenta.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 09:42
							p.news__content Производство Tesla 3 достигло 6.000 единиц в сутки
							span.news__site rbc.ru
			
			div.news__day
				p.news__date Вчера, 3 ноября
				ul.news__list
					li.news__item
						a.news__link(href='#')
							span.news__time 14:35
							p.news__content Производство Tesla 3 достигло 6.000 единиц в сутки
							span.news__site rbc.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 14:30
							p.news__content В Госдуме пообещали крипторублю судьбу традиционных денег
							span.news__site forbes.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 13:29
							p.news__content Вы могли это пропустить: падение объема торгов и подъем крипторынка
							span.news__site lenta.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 13:12
							p.news__content Производство Tesla 3 достигло 6.000 единиц в сутки
							span.news__site rbc.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 12:01
							p.news__content Производство Tesla 3 достигло 6.000 единиц в сутки
							span.news__site rbc.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 11:51
							p.news__content В Госдуме пообещали крипторублю судьбу традиционных денег
							span.news__site forbes.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 11:36
							p.news__content Вы могли это пропустить: падение объема торгов и подъем крипторынка
							span.news__site lenta.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 11:09
							p.news__content Производство Tesla 3 достигло 6.000 единиц в сутки
							span.news__site rbc.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 11:08
							p.news__content Производство Tesla 3 достигло 6.000 единиц в сутки
							span.news__site rbc.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 11:02
							p.news__content В Госдуме пообещали крипторублю судьбу традиционных денег
							span.news__site forbes.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 09:48
							p.news__content Вы могли это пропустить: падение объема торгов и подъем крипторынка
							span.news__site lenta.ru
					li.news__item
						a.news__link(href='#')
							span.news__time 09:42
							p.news__content Производство Tesla 3 достигло 6.000 единиц в сутки
							span.news__site rbc.ru
			button.more Показать ещё

		div.news__tab
			include ../../components/Card/index
			div.row
				+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
				+card('#', 'img/photo-dark.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
				+card('#', 'img/photo-dark.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
			div.row
				+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
				+card('#', 'img/photo-dark.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
				+card('#', 'img/photo-dark.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
			button.more Показать ещё