header.header
	div.container
		a.logo(href='#')
			include ../../../img/logo.svg
		
		nav.header__nav
			ul.header__nav-list
				li.header__nav-item
					a.header__nav-link.header__nav-link--active(href='companies.html') Компании
				li.header__nav-item
					a.header__nav-link(href='blockchain.html') Блокчейн
				li.header__nav-item
					a.header__nav-link(href='cryptocurrency.html') Криптовалюты
				li.header__nav-item
					a.header__nav-link(href='#') Прогнозы
				li.header__nav-item
					a.header__nav-link(href='#') Треш

		div.header__wrap
			div.search
				form.search__form
					input.search__input(type='search' placeholder='Поиск по сайту')
					button.search__btn
						include ../../../img/search.svg
				div.search__results
					div.search__category
						ul.search__category-list
							li.search__category-item 
								a.search__category-link.search__category-link--active(href='#') Всё
								span.search__category-count 307
							li.search__category-item 
								a.search__category-link(href='#') Новости
								span.search__category-count 306
							li.search__category-item 
								a.search__category-link(href='#') Компании
								span.search__category-count 0
							li.search__category-item 
								a.search__category-link(href='#') Люди
								span.search__category-count 1
							li.search__category-item 
								a.search__category-link(href='#') Продукты
								span.search__category-count 0
					//- div.search__info
						ul.search__info-list.search__info-list--active
							li.search__info-item
								a.search__info-link(href='#')
									div.search__info-pic
										img.search__info-img(src='img/placeholder.png')
									div.search__info-detail
										span.search__info-category Новости
										time.search__info-time Сегодня в 16:54
										div.search__info-text
											p Илон Маск заявил в личном твиттере о своей любви к аниме, после чего акции Tesla взлетели на 12%
							li.search__info-item
								a.search__info-link(href='#')
									div.search__info-pic
										img.search__info-img(src='img/photo-light.jpg')
									div.search__info-detail
										span.search__info-category Новости
										time.search__info-time Сегодня в 16:54
										div.search__info-text
											p Илон Маск заявил в личном твиттере о своей любви к аниме, после чего акции Tesla взлетели на 12%
							li.search__info-item
								a.search__info-link(href='#')
									div.search__info-pic
										img.search__info-img(src='img/photo-dark.jpg')
									div.search__info-detail
										span.search__info-category Новости
										time.search__info-time Сегодня в 16:54
										div.search__info-text
											p Илон Маск заявил в личном твиттере о своей любви к аниме, после чего акции Tesla взлетели на 12%
							li.search__info-item
								a.search__info-link(href='#')
									div.search__info-pic
										img.search__info-img(src='img/placeholder.png')
									div.search__info-detail
										span.search__info-category Новости
										time.search__info-time Сегодня в 16:54
										div.search__info-text
											p Илон Маск заявил в личном твиттере о своей любви к аниме, после чего акции Tesla взлетели на 12%
							li.search__info-item
								a.search__info-link(href='#')
									div.search__info-pic
										img.search__info-img(src='img/placeholder.png')
									div.search__info-detail
										span.search__info-category Новости
										time.search__info-time Сегодня в 16:54
										div.search__info-text
											p Илон Маск заявил в личном твиттере о своей любви к аниме, после чего акции Tesla взлетели на 12%
							li.search__info-item
								a.search__info-link(href='#')
									div.search__info-pic
										img.search__info-img(src='img/placeholder.png')
									div.search__info-detail
										span.search__info-category Новости
										time.search__info-time Сегодня в 16:54
										div.search__info-text
											p Илон Маск заявил в личном твиттере о своей любви к аниме, после чего акции Tesla взлетели на 12%
							li.search__info-item
								a.search__info-link(href='#')
									div.search__info-pic
										img.search__info-img(src='img/placeholder.png')
									div.search__info-detail
										span.search__info-category Новости
										time.search__info-time Сегодня в 16:54
										div.search__info-text
											p Илон Маск заявил в личном твиттере о своей любви к аниме, после чего акции Tesla взлетели на 12%
						


						ul.search__info-list
							li.search__info-item
								a.search__info-link(href='#')
									div.search__info-pic
										img.search__info-img(src='img/placeholder.png')
									div.search__info-detail
										span.search__info-category Новости
										time.search__info-time Сегодня в 16:54
										div.search__info-text
											p Илон Маск заявил в личном твиттере о своей любви к аниме, после чего акции Tesla взлетели на 12%
							li.search__info-item
								a.search__info-link(href='#')
									div.search__info-pic
										img.search__info-img(src='img/placeholder.png')
									div.search__info-detail
										span.search__info-category Новости
										time.search__info-time Сегодня в 16:54
										div.search__info-text
											p Илон Маск заявил в личном твиттере о своей любви к аниме, после чего акции Tesla взлетели на 12%
						ul.search__info-list
							li.search__info-item
								a.search__info-link(href='#')
									div.search__info-pic
										img.search__info-img(src='img/placeholder.png')
									div.search__info-detail
										span.search__info-category Новости
										time.search__info-time Сегодня в 16:54
										div.search__info-text
											p Илон Маск заявил в личном твиттере о своей любви к аниме, после чего акции Tesla взлетели на 12%
							li.search__info-item
								a.search__info-link(href='#')
									div.search__info-pic
										img.search__info-img(src='img/placeholder.png')
									div.search__info-detail
										span.search__info-category Новости
										time.search__info-time Сегодня в 16:54
										div.search__info-text
											p Илон Маск заявил в личном твиттере о своей любви к аниме, после чего акции Tesla взлетели на 12%
						ul.search__info-list
							li.search__info-item
								a.search__info-link(href='#')
									div.search__info-pic
										img.search__info-img(src='img/placeholder.png')
									div.search__info-detail
										span.search__info-category Новости
										time.search__info-time Сегодня в 16:54
										div.search__info-text
											p Илон Маск заявил в личном твиттере о своей любви к аниме, после чего акции Tesla взлетели на 12%
						ul.search__info-list
							li.search__info-item
								a.search__info-link(href='#')
									div.search__info-pic
										img.search__info-img(src='img/placeholder.png')
									div.search__info-detail
										span.search__info-category Новости
										time.search__info-time Сегодня в 16:54
										div.search__info-text
											p Илон Маск заявил в личном твиттере о своей любви к аниме, после чего акции Tesla взлетели на 12%
							li.search__info-item
								a.search__info-link(href='#')
									div.search__info-pic
										img.search__info-img(src='img/placeholder.png')
									div.search__info-detail
										span.search__info-category Новости
										time.search__info-time Сегодня в 16:54
										div.search__info-text
											p Илон Маск заявил в личном твиттере о своей любви к аниме, после чего акции Tesla взлетели на 12%

			div.header__profile
				div.header__profile-wrap
					include ../../../img/user.svg
					span.header__profile-title Авторизоваться
					include ../../../img/chevron.svg
				div.header__profile-popup
					ul.header__profile-list
						li.header__profile-item
							a.header__profile-link(href='userProfile.html') Мой профиль
						li.header__profile-item
							a.header__profile-link(href='#') Настройки
						li.header__profile-item
							a.header__profile-link(href='#') Выход