extends ../base
block title
	| incomer
block main
	
	include ../../components/Header/index
	include ../../components/Auth/index

	div.container
		include ../../components/UserProfile/index
	
	include ../../components/Footer/index
