@import '../variables.scss';
@import '../mixins.scss';
@import '../extensions.scss';
@import '../main.scss';

@import '../../components/Header/style.scss';
@import '../../components/Auth/style.scss';
@import '../../components/UserProfile/style.scss';
@import '../../components/Footer/style.scss';
@import '../../components/Socials/style.scss';
@import '../../components/Modal/style.scss';

body > .container {
    text-align: center;
}

.logo {
    padding: 12px 12px 12px 0;
    text-decoration: none;
    display: inline-block;
    svg {
        width: 110px;
        display: inline-block;
    }
}