footer.footer
	div.container
		div.footer__column
			a.logo(href='#')
				include ../../../img/logo.svg
			span.footer__copyright © «Incomer Finance», 2018 г.
			
			include ../Socials/index
			//- ul.social__list
			//- 	+social('#', 'facebook')
			//- 	+social('#', 'vkontakte')
			//- 	+social('#', 'twitter')

		div.footer__column
			ul.footer__map
				li.footer__map-item
					a.footer__map-link(href='#') Компании
				li.footer__map-item
					a.footer__map-link(href='#') Блокчейн
				li.footer__map-item
					a.footer__map-link(href='#') Криптовалюты
				li.footer__map-item
					a.footer__map-link(href='#') Прогнозы
				li.footer__map-item
					a.footer__map-link(href='#') Треш


		div.footer__column
			ul.footer__map
				li.footer__map-item
					a.footer__map-link(href='#') Контакты
				li.footer__map-item
					a.footer__map-link(href='#') Рекламодателям
				li.footer__map-item
					a.footer__map-link(href='#') Политика конфиденциальности
				li.footer__map-item
					a.footer__map-link(href='#') Правила использования