div.auth
	form.auth__popup
		button.auth__close
			include ../../../img/close.svg
		ul.auth__tabs-list
			li.auth__tab.auth__tab--active(data-id='1') Вход
			li.auth__tab(data-id='2') Регистрация
		div.auth__content-wrap
			div.auth__content
				div.auth__tab-content
					div.auth__field
						span.auth__placeholder Электронная почта
						input.auth__input(type='email' name='email' autocomplete='on' required)#login-email
					
					div.auth__field.auth__pass
						span.auth__placeholder Пароль
						input.auth__input(type='password' required)#login-password
						a.auth__pass-btn(href='#')
							include ../../../img/eye.svg
					button.auth__submit(disabled)#login-send Войти в аккаунт
					button.auth__restore Восстановить пароль
					p.auth__text Войти при помощи социальной сети:

					include ../Socials/index
					
					//- ul.social__list
					//- 	+social('#', 'facebook')
					//- 	+social('#', 'vkontakte')
					//- 	+social('#', 'twitter')

					//- ul.social
					//- 	li.social__item
					//- 		a.social__link(href='#')
					//- 			include ../../../img/facebook.svg
					//- 	li.social__item
					//- 		a.social__link(href='#')
					//- 			include ../../../img/vkontakte.svg
					//- 	li.social__item
					//- 		a.social__link(href='#')
					//- 			include ../../../img/twitter.svg

				div.auth__tab-content

					div.auth__field
						span.auth__placeholder Электронная почта
						input.auth__input(type='email' name='email' autocomplete='on')#register-email
							
					div.auth__field
						span.auth__placeholder Логин
						input.auth__input(type='text')#register-login

					div.auth__field.auth__pass
						span.auth__placeholder Пароль
						input.auth__input(type='password')#register-password
						a.auth__pass-btn(href='#')
							include ../../../img/eye.svg

					button.auth__submit(disabled)#register-send Зарегистрироваться
					//- p.auth__text Зарегистрироваться через социальные сети:
					p.auth__text Зарегистрироваться через:

					include ../Socials/index