extends ../base
block title
	| incomer
block main
	
	include ../../components/Header/index
	include ../../components/Auth/index

	div.container
		div.wrap
			include ../../components/Post/index
			include ../../components/RelatedNews/index
		
	
	include ../../components/Footer/index

	include ../../components/Modal/index
