extends ../base
block title
	| incomer
block main
	
	include ../../components/Header/index
	include ../../components/Auth/index

	div.container
		div.wrap
			include ../../components/Post/index
			include ../../components/SidebarNews/index
			div.sidebar-news
				p.sidebar-news__title Похожие новости 
				+sidebarNews('#', 'img/photo-dark.jpg', 'Facebook презентовал своё первое электронное устройство', 904, 537)
				+sidebarNews('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)
				+sidebarNews('#', 'img/photo-dark.jpg', 'Он презентовал своё первое электронное устройство', 904, 537)
				+sidebarNews('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 904, 537)
		
	
	include ../../components/Footer/index

	include ../../components/Modal/index
