@import '../variables.scss';
@import '../mixins.scss';
@import '../extensions.scss';
@import '../main.scss';

@import '../../components/Header/style.scss';
@import '../../components/Auth/style.scss';
@import '../../components/Post/style.scss';
@import '../../components/Card/style.scss';
// @import '../../components/SidebarNews/style.scss';
@import '../../components/Comments/style.scss';
@import '../../components/Footer/style.scss';
@import '../../components/Socials/style.scss';
@import '../../components/Modal/style.scss';

.wrap {
    font-size: 0;
}

.logo {
    padding: 12px 12px 12px 0;
    text-decoration: none;
    display: inline-block;
    svg {
        width: 110px;
        display: inline-block;
    }
}

.sidebar-news {
    margin: 36px 0 36px 24px;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    &__title {
        @extend %title;
        // font-size: 20px;
        letter-spacing: 0.3px;
        text-align: center;
        // font-weight: 900;
        margin-bottom: 24px;
    }
    .card {
        font-size: 16px;
        &:not(:last-of-type) {
            margin-bottom: 24px;
        }
    }
}

.related {
    margin-top: 54px;
    padding: 76px 0 60px;
    background-color: #e2e2e2;
    &__title {
        font-weight: 900;
        font-size: 28px;
        letter-spacing: 0.28px;
        margin-bottom: 18px;
    }
    .card {
        display: inline-block;
        &:not(:last-of-type) {
            margin-right: 24px;
        }
    }
}