.card {
	@extend %card;
	text-decoration: none;
	color: $main-dark-grey-color;
	display: block;
	overflow: hidden;
	box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
	// -webkit-mask-image: -webkit-radial-gradient(white, black);
	&--square,
	&--long {
		.card__pic {
			width: 100%;
			overflow: hidden;
			img {
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				min-width: 100%;
				min-height: 100%;
			}
		}
	}
	&--square {
		@extend %square;
		.card__pic {
			height: 160px;
		}
		.card__text {
			max-height: 72px;
			overflow: hidden;
		}
	}
	&--long {
		width: 462px;
		display: block;
		.card__article {
			display: flex;
		}
		.card__pic {
			width: 40%;
		}
		.card__content {
			padding: 24px;
			width: 60%;
			font-weight: 700;

			/* position: absolute;
					    left: 24px;
					    right: 24px;
					    bottom: 60px; */
		}
	}
	&--large {
		// height: 300px;
		height: 240px;
		width: 624px;
		overflow: visible;
		.card__article {
			display: flex;
			align-items: center;
			height: 100%;
		}
		.card__pic {
			width: 38%;
			height: 100%;
			overflow: visible;
			img {
				height: 288px;
    			max-width: 276px;
				top: -24px;
				left: -24px;
				bottom: -24px;
				// border: 1px solid red;
			}
		}
		.card__content {
			width: 62%;
		}
		.card__text {
			font-size: 36px;
			line-height: 42px;
			letter-spacing: 0.5px;
			// max-height: 148.8px;
			max-height: 190px;
			overflow: hidden;

			p:not(.card__subtitle),
			h3 {
			    max-height: 166px;
			    // max-height: 129px;
			    overflow: hidden;
			}
			h3 {
				font-size: 36px;
				line-height: 42px;
				letter-spacing: 0.5px;
			}
		}
		.card__statistic {
			margin-top: 18px;
		}
	}
	&--square-full-img,
	&--long-full-img {
		.card__article {
			height: 100%;
			position: relative;
		}
		.card__pic {
			height: 100%;
			-webkit-mask-image: -webkit-radial-gradient(white, black);
			img {
                max-block-size: -webkit-fill-available;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				min-width: 100%;
				min-height: 100%;
			}
		}
		.card__content {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			color: $light-color;
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
		}
		.card__text {
			position: absolute;
		    left: 24px;
		    right: 24px;
		    bottom: 60px;
		    h3 {
		    	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
		    }
		}
		.card__statistic {
			position: absolute;
		    left: 24px;
		    right: 24px;
		    bottom: 24px;
		}
		.views-post {
			&:before {
				background-image: url('../../../img/eye-light.png');
			}
		}
		.comments-post {
			&:before {
				background-image: url('../../../img/comment-light.png');
			}
		}
		&:hover,
		&:focus,
		&:active {
			.card__pic {
				img {
					transition: transform 8s linear;
					transform: translate(-50%, -50%) scale(1.2);
				}
			}
		}
	}
	&--square-full-img {
		@extend %square;
		.card__content {
			padding-top: 170px;
		}
		.card__text {
			max-height: 72px;
			overflow: hidden;
		}
	}
	&--long-full-img {
		@extend %long;
		height: 240px;
		.card__content {
			padding-top: 135px;
		}
		.card__text {
			max-height: 48px;
			overflow: hidden;
		}
	}
	&__article {

	}
	&__pic {
		position: relative;
		img {
			position: absolute;
			-webkit-mask-image: -webkit-radial-gradient(white, black);
		}
	}
	&__text {
		line-height: 24px;
		h3 {
			font-size: 16px;
		}
	}
	&__content {
		padding: 18px 24px 24px 24px;
		font-weight: 700;
	}
	&__subtitle {
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.6px;
		text-transform: uppercase;
		color: rgba(0, 0, 0, 0.6);
		font-weight: 500;
		max-height: 24px;
    	overflow: hidden;
		// color: rgba(255, 255, 255, 0.6);
	}
	&__statistic {
		margin-top: 12px;
	}
}

.views-post,
.comments-post {        
	font-size: 14px;
    margin: 0 24px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    &:before {
        content: '';
        background-repeat: no-repeat;
        background-size: 20px;
        position: absolute;
        left: -25px;
        top: calc(50% - 2px);
        transform: translate(0, -50%);
        width: 20px;
        height: 19px;
    }
}

.views-post {
    &:before {
        background-image: url('../../../img/eye@2x.png');
    }
}

.comments-post {
    &:before {
        background-image: url('../../../img/comment@2x.png');
    }
}
