div.tag
	ul.tag__list
		li.tag__item
			a.tag__link(href='#') Газовый скандал
		li.tag__item
			a.tag__link(href='#') elections-scandal
		li.tag__item
			a.tag__link(href='#') Тим Кук
		li.tag__item
			a.tag__link(href='#') Facebook
		li.tag__item
			a.tag__link(href='#') Apple