div.rating
	p.block__title Рейтинг компаний
	div
		div
			ul.rating__term-list
				li.rating__term 
					a.rating__term-link.rating__term-link--active(href='#') месяц
				li.rating__term 
					a.rating__term-link(href='#') квартал
				li.rating__term 
					a.rating__term-link(href='#') полугодие
				li.rating__term 
					a.rating__term-link(href='#') год

		div.rating__tabs
			table.rating__table.rating__table--active
				tr.rating__table-row
					th.rating__table-header №
					th.rating__table-header Компания
					th.rating__table-header за акцию
					th.rating__table-header рост, %
				tr.rating__table-row
					td.rating__table-cell 01
					td.rating__table-cell Apple
					td.rating__table-cell 309
					td.rating__table-cell 30.1
				tr.rating__table-row
					td.rating__table-cell 02
					td.rating__table-cell Microsoft
					td.rating__table-cell 84
					td.rating__table-cell 29.8
				tr.rating__table-row
					td.rating__table-cell 03
					td.rating__table-cell Tesla
					td.rating__table-cell 921
					td.rating__table-cell 27.9
				tr.rating__table-row
					td.rating__table-cell 04
					td.rating__table-cell Amazon
					td.rating__table-cell 1089
					td.rating__table-cell 27.6
				tr.rating__table-row
					td.rating__table-cell 05
					td.rating__table-cell Samsung
					td.rating__table-cell 821
					td.rating__table-cell 30.1
				tr.rating__table-row
					td.rating__table-cell 06
					td.rating__table-cell Huawei
					td.rating__table-cell 95
					td.rating__table-cell 30.1
				tr.rating__table-row
					td.rating__table-cell 07
					td.rating__table-cell Micron
					td.rating__table-cell 309
					td.rating__table-cell 30.1
				tr.rating__table-row
					td.rating__table-cell 08
					td.rating__table-cell Intel
					td.rating__table-cell 902
					td.rating__table-cell 30.1
				tr.rating__table-row
					td.rating__table-cell 09
					td.rating__table-cell Acer
					td.rating__table-cell 721
					td.rating__table-cell 30.1
				tr.rating__table-row
					td.rating__table-cell 10
					td.rating__table-cell Xiaomi
					td.rating__table-cell 107
					td.rating__table-cell 30.1



			table.rating__table
				tr.rating__table-row
					th.rating__table-header №
					th.rating__table-header Компания
					th.rating__table-header за акцию
					th.rating__table-header рост, %
				tr.rating__table-row
					td.rating__table-cell 01
					td.rating__table-cell Apple
					td.rating__table-cell 309
					td.rating__table-cell 30.1

			table.rating__table
				tr.rating__table-row
					th.rating__table-header №
					th.rating__table-header Компания
					th.rating__table-header за акцию
					th.rating__table-header рост, %
				tr.rating__table-row
					td.rating__table-cell 01
					td.rating__table-cell Apple
					td.rating__table-cell 309
					td.rating__table-cell 30.1

			table.rating__table
				tr.rating__table-row
					th.rating__table-header №
					th.rating__table-header Компания
					th.rating__table-header за акцию
					th.rating__table-header рост, %
				tr.rating__table-row
					td.rating__table-cell 01
					td.rating__table-cell Apple
					td.rating__table-cell 309
					td.rating__table-cell 30.1

			a.rating__full-list(href='#') Перейти к рейтингу компаний
