@import '../variables.scss';
@import '../mixins.scss';
@import '../extensions.scss';
@import '../main.scss';

@import '../../components/Header/style.scss';
@import '../../components/Auth/style.scss';
@import '../../components/Tags/style.scss';
@import '../../components/Card/style.scss';
@import '../../components/Footer/style.scss';
@import '../../components/Socials/style.scss';
@import '../../components/Modal/style.scss';

.card--large .card__text,
.card--large .card__text h3 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0;
}

.logo {
    padding: 12px 12px 12px 0;
    text-decoration: none;
    display: inline-block;
    svg {
        width: 110px;
        display: inline-block;
    }
}

.main {
    padding: 18px 0 54px;
}

.summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $grid-column;
    .sort {
        display: inline-block;
        &__list {

        }
        &__item {
            display: inline-block;
            &:not(:last-of-type) {
                margin-right: 12px;
            }
        }
        &__link {
            text-decoration: none;
            display: inline-block;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: $light-color;
            padding: 7px;
            svg {
                line {
                    stroke: rgba(0, 0, 0, 0.4);
                }
            }
            &--active {
                svg {
                    line {
                        stroke: #000000;
                    }
                }
            }
        }
    }
}

.main-news {
    // margin-bottom: 54px;
    .block {
        display: inline-block;
        &:not(:last-of-type) {
            margin-right: $grid-column;
        }
    }
    .row {
        font-size: 0;
        &:not(:first-of-type) {
            margin-top: $grid-column;
        }
    }
    .card {
        font-size: 16px;
        display: inline-block;
        &:not(:last-of-type) {
            margin-right: $grid-column;
        }
    }
    .more {
        @extend %btn;
        font-size: 16px;
        display: block;
        margin: $grid-column auto 0;
        font-family: 'Museo Sans Cyrl', Arial, sans-serif;
    }
}
