extends ../base
block title
	| incomer
block main
	
	include ../../components/Header/index
	include ../../components/Auth/index

	//- div.container
	//- 	div.wrap
	//- 		include ../../components/CompanyInfo/index
	//- 		div.main-wrap
	//- 			include ../../components/Chart/index
	//- 			include ../../components/CompanyNews/index

	main.main
		div.container
			div.summary
				include ../../components/Tags/index
				div.tag
					ul.tag__list
						+tag('#', 'Bitcoin')
						+tag('#', 'Ethereum')
						+tag('#', 'MYRIG')
						+tag('#', 'ASIC')
						+tag('#', 'GPU майнинг')
						+tag('#', 'AMD')
				div.sort
					ul.sort__list
						li.sort__item
							a.sort__link(href='#')
								include ../../../img/view-list.svg
						li.sort__item
							a.sort__link.sort__link--active(href='#')
								include ../../../img/view-thumbs.svg

			include ../../components/Card/index	

			section.main-news
				div.row
					div.block
						div.row
							+card('#', 'img/man2.png', '', 1034, 537)(class='card--large')
								p.card__subtitle Cрочно в номер!
								h3 Tesla покупает 50% акций Bitmain на сумму $2 млрд
						div.row
							+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
							+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
					div.block
						div.row
							+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
							+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
						div.row
							+card('#', 'img/man2.png', '', 1034, 537)(class='card--large')
								p.card__subtitle Cрочно в номер!
								h3 Tesla покупает 50% акций Bitmain на сумму $2 млрд





				//- div.row
					+card('#', 'img/man2.png', '', 1034, 537)(class='card--large')
						p.card__subtitle Cрочно в номер!
						h3 Tesla покупает 50% акций Bitmain на сумму $2 млрд
					+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
					+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
				//- div.row
					+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
					+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
					+card('#', 'img/man2.png', '', 1034, 537)(class='card--large')
						p.card__subtitle Эксклюзив!
						h3 Tesla покупает 50% акций Bitmain на сумму $2 млрд
				div.row
					+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
					+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
					+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
					+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
				button.more Показать ещё




	
	include ../../components/Footer/index

	include ../../components/Modal/index
