article.news
	h1.news__title Илон маск заявил о своём скором выходе из совета директоров Tesla после давления властей 
	div.news__pic
		img(src='img/photo-dark.jpg')
	div.news__text
		p Баскетбольный клуб «Мариуполь» обыграл «Нико Баскет» из Николаева со счетом 97:90. Об этом на Facebook сообщил начальник учебно-спортивного отдела управления молодежи и спорта Георгий Федоренко.
		p Вчера мариупольская команда в рамках третьего тура чемпионата Украины потерпела поражение со счетом 92:95. Но на повторной встрече мариупольцы сполна реабилитировались. Весь поединок баскетболисты «Мариуполя» контролировали ход игры, владея преимуществом до 20 очков. «Нико Баскет» попытались безуспешно отыграться в конце матча.
	h2.news__subtitle Причины кризиса
	div.news__text
		p «Прекрасная победа МБК "Мариуполь", которая подтвердила высокий класс мариупольского баскетбола на национальном уровне», - отметил Георгий Федоренко.
	button.news__comment-btn Читать комментарии