div.popular
	p.block__title Актуально сейчас
	ul.popular__list
		li.popular__item
			a.popular__link(href='#')
				span.popular__category Новости
				span.popular__date Сегодня в 16:39
				p.popular__text Производство Tesla 3 достигло 6.000 единиц в сутки
		li.popular__item
			a.popular__link(href='#')
				span.popular__category Новости
				span.popular__date Сегодня в 16:39
				p.popular__text Huawei опубликовали квартальный отчёт. Всё плохо
		li.popular__item
			a.popular__link(href='#')
				span.popular__category Новости
				span.popular__date Сегодня в 16:39
				p.popular__text Apple презентовала новые продукты на конференции
		li.popular__item
			a.popular__link(href='#')
				span.popular__category Новости
				span.popular__date Сегодня в 16:39
				p.popular__text Производство Tesla 3 достигло 6.000 единиц в сутки
		li.popular__item
			a.popular__link(href='#')
				span.popular__category Новости
				span.popular__date Сегодня в 16:39
				p.popular__text Производство Tesla 3 достигло 6.000 единиц в сутки