@import '../../pages/variables.scss';
@import '../../pages/mixins.scss';

.popular {
	width: calc(100% / 3);
	background-color: $light-color;
	border-radius: 12px;
	padding: 25px;
	&__list {

	}
	&__item {
		list-style-type: none;
		&:not(:last-of-type) {
			margin-bottom: 20px;
		}
		&:hover,
		&:focus,
		&:active {
			.popular__text {
				color: $default-blue;
			}
		}
	}
	&__link {
		text-decoration: none;
		color: $main-dark-grey-color;
		display: block;
	}
	&__category {
		font-size: 14px;
		margin-right: 30px;
		margin-bottom: 5px;
		display: inline-block;
		color: rgba(36, 36, 36, .6);
	}
	&__date {
		font-size: 14px;
		margin-bottom: 5px;
		display: inline-block;
		color: rgba(36, 36, 36, .6);
	}
	&__text {
		font-weight: 500;
		// font-size: 16px;
		line-height: 1.5;
	}
}