div.chart
	p.block-title О Tesla в цифрах
	//- div.chart__filters
	ul.chart__filter
		li.chart__filter-item
			a.chart__filter-link.chart__filter-link--active(href='#') Стоимость акций
		li.chart__filter-item
			a.chart__filter-link(href='#') Капитализация
		li.chart__filter-item
			a.chart__filter-link(href='#') Доходность

	div#diagram

	ul.chart__filter.chart__filter--term
		li.chart__filter-item
			a.chart__filter-link(href='#') Минута
		li.chart__filter-item
			a.chart__filter-link(href='#') Час
		li.chart__filter-item
			a.chart__filter-link.chart__filter-link--active(href='#') День
		li.chart__filter-item
			a.chart__filter-link(href='#') Неделя
		li.chart__filter-item
			a.chart__filter-link(href='#') Месяц
		li.chart__filter-item
			a.chart__filter-link(href='#') Квартал
		li.chart__filter-item
			a.chart__filter-link(href='#') Год
		li.chart__filter-item
			a.chart__filter-link.chart__filter-link(href='#') Все время





	//- div.ct-chart.ct-perfect-fourth
	//- div.ct-chart
		//- div.axis