div.chart
	//- p.news__title Новости о компании
	//- canvas#myChart(width="400" height="400")
	//- canvas#chart

	//- svg(width="300px" height="150px")
	//- 	rect(x="20" y="20" width="20px" height="20" rx="5" ry="5")
	//- 	rect(x="60" y="20" width="20px" height="20" rx="5" ry="5")
	//- 	rect(x="100" y="20" width="20px" height="20" rx="5" ry="5")


	div.ct-chart.ct-perfect-fourth


	//- svg(viewBox="0 0 500 100").chart
	//- 	polyline(
	//- 		fill="none"
	//- 		stroke="#0074d9"
	//- 		stroke-width="3"
	//- 		points="0,120 20,60 40,80 60,20")