.chart {
	@extend %card;
	width: 948px;
	font-size: 16px;
	margin-bottom: 24px;
	// overflow: hidden;
	padding: 24px;
	.block-title {
		display: inline-block;
	}
	&__filter {
		display: inline-block;
	}
	&__filter-item {
		display: inline-block;
	}
	&__filter-link {
		display: inline-block;
		padding: 5px 11px;
		text-decoration: none;
		color: $main-dark-grey-color;
		font-size: 12px;
		letter-spacing: 0.3px;
		border-radius: 15px;
		transition: background-color .3s ease-in-out, color .3s ease-in-out;
		&--active,
		&:hover,
		&:focus,
		&:active {
			background-color: $default-blue;
			color: $light-color;
		} 
	}
	&__wrap {
		border-bottom: 1px solid $light-grey-color;
    	padding-bottom: 24px;
    	margin-bottom: 36px;
	}
	&__tab-list {
		display: inline-block;
	}
	&__tab-item {
		display: inline-block;
	}
	&__tab-link {
		color: $main-dark-grey-color;
		text-decoration: none;
		padding: 5px 11px;
		font-size: 12px;
		letter-spacing: 0.3px;
		border-radius: 15px;
		transition: background-color .3s ease-in-out, color .3s ease-in-out;
		&--active,
		&:hover,
		&:focus,
		&:active {
			background-color: $default-blue;
			color: $light-color;
		}
	}
	&__tab-content {
		display: none;
		&--active {
			display: block;
		}
		&:nth-of-type(3) {
			p,
			p span {
				line-height: 24px !important;
				font-family: 'Museo Sans Cyrl', Arial, sans-serif !important;
				color: $main-dark-grey-color !important;
				font-size: 16px !important;
				&:not(:last-of-type) {
					margin-bottom: 12px !important;
				}
			}
			a,
			p a,
			a span {
				text-decoration: none !important;
				color: $default-blue !important;
				font-weight: 700 !important;
				@include transition(color);
				&:hover,
				&:focus,
				&:active {
					color: $darker-blue !important;
				}
			}
			ol, ul {
	    		margin-left: 24px !important;
	    		li {
	    			margin-left: 24px !important;
	    			font-family: 'Museo Sans Cyrl', Arial, sans-serif !important;
	    		}
	    		li span {
	    			font-family: 'Museo Sans Cyrl', Arial, sans-serif !important;
	    			font-size: 16px !important;
	    		}
			}
		}
	}
	#diagram {
		.highcharts-tick,
		.highcharts-credits,
		.highcharts-exporting-group {
		    display: none;
		}
		.highcharts-tooltip {
			font: 900 10px 'Museo Sans Cyrl', Arial, sans-serif;
		}
		.highcharts-axis-labels {
			text {
				font-size: 10px !important;
				font-family: 'Museo Sans Cyrl', Arial, sans-serif;
				letter-spacing: 0.2px;
			}
		}
		.highcharts-axis-labels.highcharts-xaxis-labels.highcharts-navigator-xaxis,
		.highcharts-navigator {
			opacity: 0;
		}
		.highcharts-container,
		.highcharts-root {
			overflow: visible !important;
		}
	}
}