@import '../variables.scss';
@import '../mixins.scss';
@import '../extensions.scss';
@import '../main.scss';

@import '../../components/Header/style.scss';
@import '../../components/Auth/style.scss';
@import '../../components/CompanyInfo/style.scss';
@import '../../components/Chart/style.scss';
@import '../../components/CompanyNews/style.scss';
@import '../../components/Footer/style.scss';
@import '../../components/Socials/style.scss';
@import '../../components/Modal/style.scss';
@import '../../components/Card/style.scss';

.logo {
    padding: 12px 12px 12px 0;
    text-decoration: none;
    display: inline-block;
    svg {
        width: 110px;
        display: inline-block;
    }
}

.wrap {
    font-size: 0;
    margin: 24px 0 160px;
}

.main-wrap {
    width: 948px;
    display: inline-block;
    vertical-align: top;
}

.block-title {
    font-size: 20px;
    letter-spacing: 0.2px;
    font-weight: 900;
    margin-right: 30px;
}