div.info
	div.info__main
		div.info__pic
			img(src='img/tesla.png')
		div.info__text
			p.info__title Tesla
			p.info__subtitle NOSDAQ: TSLA
		div.info__stock.info__stock--increase
			include ../../../img/chevron.svg
			span 314.86

	div.info__detail
		div
			ul.info__tabs
				li.info__tab-item
					a.info__tab-link(href='#').info__tab-link--active Сводка
				li.info__tab-item
					a.info__tab-link(href='#') Биография

		div