div.preview
	ul.preview__list
		li.preview__item
			a.preview__link(href='#')
				img.preview__img(src='img/placeholder.png', alt='video-preview')
				p.preview__text Всё о презентации WWDC2018
				button.preview__btn
					include ../../../img/play.svg
		li.preview__item
			a.preview__link(href='#')
				img.preview__img(src='img/placeholder.png', alt='video-preview')
				p.preview__text Всё о презентации WWDC2018
				button.preview__btn
					include ../../../img/play.svg