div.profile
	div.profile__info
		p.profile__name
		p.profile__role
		ul.profile__menu-list
			li.profile__menu-item
				a.profile__menu-link(href="#") Настройки профиля
			li.profile__menu-item
				a.profile__menu-link(href="#") Личная информация
			li.profile__menu-item
				a.profile__menu-link(href="#") Интересы
			li.profile__menu-item
				a.profile__menu-link(href="#") Избранное
			li.profile__menu-item
				a.profile__menu-link(href="#") Рассылки
		a.profile__exit(href='#') Выйти

	//- div.profile__detail
	//- 	p.profile__title Личная информация
	//- 	input(type="text")
	//- 	input(type="text")
	//- 	input(type="text")
