@import '../variables.scss';
@import '../mixins.scss';
@import '../extensions.scss';
@import '../main.scss';

@import '../../components/Header/style.scss';
@import '../../components/Auth/style.scss';
@import '../../components/Footer/style.scss';
@import '../../components/Socials/style.scss';
@import '../../components/Modal/style.scss';

.logo {
    padding: 12px 12px 12px 0;
    text-decoration: none;
    display: inline-block;
    svg {
        width: 110px;
        display: inline-block;
    }
}

.main {
    margin: 36px auto;
}

.post {
    font-size: 20px;
    background-color: $light-color;
    border-radius: 12px;
    padding: 45px 36px 66px;
    margin: 0 auto;
    width: 948px;
    &__title {
        font-size: 34px;
        letter-spacing: 0.2px;
        margin: 0 0 36px 0;
        font-weight: 900;
        text-align: center;
        line-height: 1.3;
    }
    &__pic {
        position: relative;
        height: 330px;
        overflow: hidden;
        border-radius: 12px;
        margin-bottom: 40px;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
        }
    }
    &__text {
        line-height: 36px;
        p {
            &:not(:last-of-type) {
                margin-bottom: 30px;
            }
        }
        h2 {
            font-size: 32px;
            font-weight: 700;
            line-height: 1.3;
            margin: 52px 0 10px;
        }
        img {
            width: 70%;
            display: block;
            // margin: 24px auto;
        }
        a {
            text-decoration: none;
            color: $default-blue;
            font-weight: 700;
            @include transition(color);
            &:hover,
            &:focus,
            &:active {
                color: $darker-blue;
            }
        }
        blockquote {
            margin: 35px 0 10px 0;
            font-size: 18px;
            line-height: 30px;
            background-color: $main-light-grey-color;
            padding: 24px 36px;
            border-radius: 12px;
            position: relative;
            &:before,
            &:after {
                color: #373737;
                font-size: 60px;
                position: absolute;
            }
            &:before {
                content: '«';
                left: 0;
                top: 24px;
                transform: translate(-50%, 0);
            }
            &:after {
                content: '»';
                right: 0;
                bottom: 24px;
                transform: translate(50%, 0);
            }
        }
        cite {
            display: block;
            margin-bottom: 36px;
            font-size: 16px;
            line-height: 30px;
            color: rgba(36, 36, 36, 0.6);
            font-style: normal;
            &:before {
                content: '—';
                margin-right: 5px;
                margin-left: 24px;
            }
        }
    }
    
    /**
    * VIDEO PREVIEW
    */
    &__preview-link {
        border-radius: 12px;
        display: block;
        position: relative;
        height: 480px;
        overflow: hidden;
        margin: 48px 0;
        background-color: #000;
        &:hover {
            // cursor: default;
            .post__preview-img {
                opacity: 0.8;
                transition: transform 8s linear, opacity .3s ease-in-out;
                transform: translate(-50%, -50%) scale(1.2);
            }
            .post__preview-btn {
                background-color: $default-blue;
                svg {
                    fill: $light-color;
                }
            }
        }
        &:focus,
        &:active {
            .post__preview-img {
                opacity: 0.8;
            }
            .post__preview-btn {
                background-color: $darker-blue;
            }
        }
    }
    &__preview-img {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include transition(opacity);
        opacity: 0.6;
    }
    &__preview-text {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 700;
        color: $light-color;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.42);
        padding: 0 20px 20px 20px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
    }
    &__preview-btn {
        width: 60px;
        height: 60px;
        background-color: $light-color;
        border: none;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.24);
        @include transition(background-color);
        svg {
            width: 25px;
            height: 25px;
            margin-left: 6px;
            margin-top: 6px;
            @include transition(fill);
        }
    }
    /*
    ************************************************************
    */
}