div.companies
	div.companies__sort
		span.companies__sort-title Тип сортировки:
		ul.companies__sort-list
			li.companies__sort-item 
				a.companies__sort-link(href='#' data-sort-value='original-order' data-sort-type='original-order') Origin
			li.companies__sort-item 
				a.companies__sort-link(href='#' data-sort-value='title' data-sort-type='original-order') 
					span Алфавит 
					include ../../../img/arrow.svg
			li.companies__sort-item 
				a.companies__sort-link(href='#' data-sort-value='rating' data-sort-type='original-order') 
					span Рейтинг
					include ../../../img/arrow.svg
			li.companies__sort-item 
				a.companies__sort-link(href='#' data-sort-value='capitalization' data-sort-type='original-order') 
					span Капитализация
					include ../../../img/arrow.svg
	div.companies__catalog
		ul.companies__list
			li.companies__item
				a.companies__link(href='#')
					.companies__info
						.companies__img
							img(src='img/tesla.png', alt='company-logo')
						.companies__text
							span.companies__title Tesla
							span.companies__subtitle NASDAQ: TSLA
					.companies__stock
						span.companies__stock-description Капитализация
						span.companies__stock-value.companies__stock-value--sort $53.708.000.000
						span.companies__stock-description Акции в обращении
						span.companies__stock-value 170.583.344
					.companies__visualisation
						.companies__chart#chart-1
						.companies__rating.companies__rating--increase
							include ../../../img/arrow.svg
							span.companies__rating-value 314.86
			li.companies__item
				a.companies__link(href='#')
					.companies__info
						.companies__img
							img(src='img/tesla.png', alt='company-logo')
						.companies__text
							span.companies__title Apple
							span.companies__subtitle NASDAQ: APPL
					.companies__stock
						span.companies__stock-description Капитализация
						span.companies__stock-value.companies__stock-value--sort $9.708.000.000
						span.companies__stock-description Акции в обращении
						span.companies__stock-value 170.583.344
					.companies__visualisation
						.companies__chart#chart-3
						.companies__rating.companies__rating--reduce
							include ../../../img/arrow.svg
							span.companies__rating-value 310.91
			li.companies__item
				a.companies__link(href='#')
					.companies__info
						.companies__img
							img(src='img/tesla.png', alt='company-logo')
						.companies__text
							span.companies__title Microsoft
							span.companies__subtitle NASDAQ: MS
					.companies__stock
						span.companies__stock-description Капитализация
						span.companies__stock-value.companies__stock-value--sort $53.708.000.000
						span.companies__stock-description Акции в обращении
						span.companies__stock-value 170.583.344
					.companies__visualisation
						.companies__chart#chart-4
						.companies__rating.companies__rating--increase
							include ../../../img/arrow.svg
							span.companies__rating-value 309.61
			li.companies__item
				a.companies__link(href='#')
					.companies__info
						.companies__img
							img(src='img/tesla.png', alt='company-logo')
						.companies__text
							span.companies__title Hewlett Packard
							span.companies__subtitle NASDAQ: HWPD
					.companies__stock
						span.companies__stock-description Капитализация
						span.companies__stock-value.companies__stock-value--sort $50.708.000.000
						span.companies__stock-description Акции в обращении
						span.companies__stock-value 170.583.344
					.companies__visualisation
						.companies__chart#chart-4
						.companies__rating.companies__rating--increase
							include ../../../img/arrow.svg
							span.companies__rating-value 307.15
			li.companies__item
				a.companies__link(href='#')
					.companies__info
						.companies__img
							img(src='img/tesla.png', alt='company-logo')
						.companies__text
							span.companies__title Amazon
							span.companies__subtitle NASDAQ: AMZN
					.companies__stock
						span.companies__stock-description Капитализация
						span.companies__stock-value.companies__stock-value--sort $53.708.000.000
						span.companies__stock-description Акции в обращении
						span.companies__stock-value 170.583.344
					.companies__visualisation
						.companies__chart#chart-5
						.companies__rating.companies__rating--increase
							include ../../../img/arrow.svg
							span.companies__rating-value 314.86
			li.companies__item
				a.companies__link(href='#')
					.companies__info
						.companies__img
							img(src='img/tesla.png', alt='company-logo')
						.companies__text
							span.companies__title Tesla
							span.companies__subtitle NASDAQ: TSLA
					.companies__stock
						span.companies__stock-description Капитализация
						span.companies__stock-value.companies__stock-value--sort $23.708.000.000
						span.companies__stock-description Акции в обращении
						span.companies__stock-value 170.583.344
					.companies__visualisation
						.companies__chart#chart-6
						.companies__rating.companies__rating--increase
							include ../../../img/arrow.svg
							span.companies__rating-value 314.86
			li.companies__item
				a.companies__link(href='#')
					.companies__info
						.companies__img
							img(src='img/tesla.png', alt='company-logo')
						.companies__text
							span.companies__title Tesla
							span.companies__subtitle NASDAQ: TSLA
					.companies__stock
						span.companies__stock-description Капитализация
						span.companies__stock-value.companies__stock-value--sort $53.708.000.000
						span.companies__stock-description Акции в обращении
						span.companies__stock-value 170.583.344
					.companies__visualisation
						.companies__chart#chart-7
						.companies__rating.companies__rating--reduce
							include ../../../img/arrow.svg
							span.companies__rating-value 314.86
			li.companies__item
				a.companies__link(href='#')
					.companies__info
						.companies__img
							img(src='img/tesla.png', alt='company-logo')
						.companies__text
							span.companies__title Tesla
							span.companies__subtitle NASDAQ: TSLA
					.companies__stock
						span.companies__stock-description Капитализация
						span.companies__stock-value.companies__stock-value--sort $53.708.000.000
						span.companies__stock-description Акции в обращении
						span.companies__stock-value 170.583.344
					.companies__visualisation
						.companies__chart#chart-8
						.companies__rating.companies__rating--increase
							include ../../../img/arrow.svg
							span.companies__rating-value 314.86
			li.companies__item
				a.companies__link(href='#')
					.companies__info
						.companies__img
							img(src='img/tesla.png', alt='company-logo')
						.companies__text
							span.companies__title Tesla
							span.companies__subtitle NASDAQ: TSLA
					.companies__stock
						span.companies__stock-description Капитализация
						span.companies__stock-value.companies__stock-value--sort $53.708.000.000
						span.companies__stock-description Акции в обращении
						span.companies__stock-value 170.583.344
					.companies__visualisation
						.companies__chart#chart-9
						.companies__rating.companies__rating--increase
							include ../../../img/arrow.svg
							span.companies__rating-value 314.86
			li.companies__item
				a.companies__link(href='#')
					.companies__info
						.companies__img
							img(src='img/tesla.png', alt='company-logo')
						.companies__text
							span.companies__title Tesla
							span.companies__subtitle NASDAQ: TSLA
					.companies__stock
						span.companies__stock-description Капитализация
						span.companies__stock-value.companies__stock-value--sort $18.708.000.000
						span.companies__stock-description Акции в обращении
						span.companies__stock-value 170.583.344
					.companies__visualisation
						.companies__chart#chart-10
						.companies__rating.companies__rating--reduce
							include ../../../img/arrow.svg
							span.companies__rating-value 314.86
			li.companies__item
				a.companies__link(href='#')
					.companies__info
						.companies__img
							img(src='img/tesla.png', alt='company-logo')
						.companies__text
							span.companies__title Tesla
							span.companies__subtitle NASDAQ: TSLA
					.companies__stock
						span.companies__stock-description Капитализация
						span.companies__stock-value.companies__stock-value--sort $47.708.000.000
						span.companies__stock-description Акции в обращении
						span.companies__stock-value 170.583.344
					.companies__visualisation
						.companies__chart#chart-11
						.companies__rating.companies__rating--increase
							include ../../../img/arrow.svg
							span.companies__rating-value 314.86
			li.companies__item
				a.companies__link(href='#')
					.companies__info
						.companies__img
							img(src='img/tesla.png', alt='company-logo')
						.companies__text
							span.companies__title Tesla
							span.companies__subtitle NASDAQ: TSLA
					.companies__stock
						span.companies__stock-description Капитализация
						span.companies__stock-value.companies__stock-value--sort $8.000.000
						span.companies__stock-description Акции в обращении
						span.companies__stock-value 170.583.344
					.companies__visualisation
						.companies__chart#chart-12
						.companies__rating.companies__rating--increase
							include ../../../img/arrow.svg
							span.companies__rating-value 95.15
		button.companies__more Показать еще