div.top
	a.top__link(href='post.html')
		article.top__article.top__article--right 
			div.top__article-pic
				img(src='img/man2.png')
			div.top__article-text
				span.top__article-subtitle Срочно в номер!
				p.top__article-title Илон Маск заявил о выходе из совета директоров Tesla
				span.views 904
				span.comments 308
	
	div.top__article-wrap
		a.top__link.top__link--half(href='post.html')
			article.top__article.top__article--bottom
				div.top__article-pic
					img(src='img/car.png')
				div.top__article-text
					p.top__article-title Apple презентовала новые продукты на конференции WWDC 2018
					span.views 904
					span.comments 308
		
		a.top__link.top__link--half(href='post.html')
			article.top__article.top__article--left
				div.top__article-text
					span.top__article-subtitle Интервью
					p.top__article-name Василий Долгопрудный
					span.top__article-position AV-Invest, CEO
				div.top__article-pic
					img(src='img/man.png')