div.top

	include ../../components/Card/index
	+card('post.html', 'img/man2.png', '', 1034, 537)(class='card--large')
		p.card__subtitle Cрочно в номер!
		h3 Tesla покупает 50% акций Bitmain на сумму $2 млрд
	
	div.top__article-wrap

		+card('post.html', 'img/car.png', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square card--post')
		+card('post.html', 'img/man.png', '')(class='card--square card--interview')
			p.card__subtitle Интервью
			h3.card__name Владимир Ястржембский
			p.card__position AB–Invest, CEO