.top {
	width: 624px;
	margin-right: 24px;
	&__article-wrap {
		margin-top: 24px;
	}
	.card {
		&__content {
			z-index: 1;
		}
		&--large,
		&--post,
		&--interview {
			.views-post {
				&:before {
					background-image: url('../../../img/eye-light.png');
				}
			}
			.comments-post {
				&:before {
					background-image: url('../../../img/comment-light.png');
				}
			}
		}
		&--large {
			height: 240px;
			background-color: $default-blue;
			color: $light-color;
			.card__content {
				padding: 24px;
			}
			.card__subtitle {
				color: $light-color;
			}
		}
		&--square {
			background-color: $lighter-blue;
			color: $light-color;
			display: inline-block;
			font-size: 16px;
			height: 240px;
			vertical-align: top;
			&:not(:last-of-type) {
				margin-right: 24px;
			}
			.card__subtitle {
				color: $light-color;
			}
			&.card--post {
				overflow: visible;
				.card__pic {
					height: 120px;
					overflow: visible;
					img {
						top: auto;
						transform: translate(0, 0);
						min-width: auto;
						min-height: auto;
					    bottom: 0;
					    left: -10px;
					    height: 105%;
					}
				}
				.card__content {
					padding-top: 0;
				}
			}
			&.card--interview {
				overflow: visible;
				.card__article {
					display: flex;
					flex-direction: row-reverse;
					height: 100%;
				}
				.card__content {
					width: 70%;
					height: 100%;
				}
				.card__pic {
					width: 30%;
					height: 100%;
					overflow: visible;
					img {
						left: auto;
						top: auto;
						transform: translate(0, 0);
						min-width: auto;
						min-height: auto;
					    bottom: 0;
					    right: 0;
					    max-height: calc(100% + 10px);
    					max-width: calc(100% + 50px);
					}
				}
				.card__subtitle {
					margin-bottom: 18px;
				}
				.card__name {
					font-size: 22px;
					line-height: 30px;
					letter-spacing: 0.3px;
					font-weight: 700;
				}
				.card__position {
					font-size: 14px;
					line-height: 24px;
					letter-spacing: 0.53px;
					margin-top: 6px;
				}
				.card__text {
					max-height: 185px;
					overflow: hidden;
				}
			}
		}
	}
}

.card--large .card__text {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: .5px;
}
