.top {
	// width: calc(100% / 3 * 2);
	width: 624px;
	margin-right: 24px;
	/*& > .top__link {
		height: calc(50% - 12px);
		.top__article {
			height: 100%;
		}
	}
	&__link {
		display: block;
		text-decoration: none;
		color: $main-dark-grey-color;
		&--half {
			width: 50%;
		}
	}
	&__article {
		background-color: $light-color;
		border-radius: 12px;
		&--right {
			font-size: 0;
			display: flex;
			.top__article-pic {
				width: calc(40% - 24px);
				vertical-align: top;
				margin-right: 24px;
				img {
				    left: -10px;
				    bottom: 0;
				    max-height: 100%;
				    max-width: 100%;
				}
				&--center {
					img {
						left: calc(50% + 10px);
						top: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
			.top__article-text {
				width: 60%;
				vertical-align: top;
				padding: 35px 35px 35px 0;
				// text-shadow: 0px 0px 10px #fff, 7px 0px 1em #fff;
			}
			.top__article-title {
				font-weight: 700;
				font-size: 30px;
				line-height: 1.2;
			}
		}
		&--bottom {
			position: relative;
			.top__article-pic {
				height: 50%;
				img {
				    left: -10px;
				    top: 10px;
				    right: 0;
				    max-height: 100%;
				    max-width: 100%;
				}
				&--center {
					img {
						left: 50%;
						top: calc(50% + 10px);
						transform: translate(-50%, -50%);
					}
				}
			}
			.top__article-text {
				padding: 0 20px 20px 20px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
		&--left {
			display: flex;
			.top__article-pic {
				width: 30%;
				img {
					right: 10px;
				    bottom: 10px;
				    max-width: 150%;
				}
				&--center {
					img {
						transform: translate(0, -50%);
						top: 50%;
						right: 10px;
					}
				}
			}
			.top__article-text {
				padding: 20px 0 20px 20px;
				width: 70%;
			}
			.top__article-name {
				font-weight: 700;
				line-height: 1.2;
				font-size: 20px;
				margin-top: 15px;
				overflow-wrap: break-word;
			}
			.top__article-position {
				margin-top: 12px;
				display: block;
			}
		}
	}
	&__article-wrap {
		display: flex;
		justify-content: space-between;
		margin-top: 24px;
		height: calc(50% - 12px);
		.top__article {
			height: 100%;
		}
		.top__link {
			width: calc(50% - 12px);
		}
	}
	&__article-pic {
		position: relative;
		img {
			position: absolute;
		}
	}
	&__article-text {
		z-index: 10;
		font-size: 16px;
	}
	&__article-subtitle {
		font-size: 14px;
		line-height: 1.7;
		color: rgba(37, 37, 37, .6);
		text-transform: uppercase;
		display: block;
		margin-bottom: 5px;
	}
	.views,
	.comments {
		margin: 15px 24px 0 25px;
	} */

	&__article-wrap {
		margin-top: 24px;
	}
	.card {
		&__content {
			z-index: 1;
		}
		&--large,
		&--post,
		&--interview {
			.views-post {
				&:before {
					background-image: url('../../../img/eye-light.png');
				}
			}
			.comments-post {
				&:before {
					background-image: url('../../../img/comment-light.png');
				}
			}
		}
		&--large {
			height: 240px;
			background-color: $default-blue;
			color: $light-color;
			.card__content {
				padding: 24px;
			}
			.card__subtitle {
				color: $light-color;
			}
		}
		&--square {
			background-color: $lighter-blue;
			color: $light-color;
			display: inline-block;
			font-size: 16px;
			height: 240px;
			vertical-align: top;
			&:not(:last-of-type) {
				margin-right: 24px;
			}
			.card__subtitle {
				color: $light-color;
			}
			&.card--post {
				overflow: visible;
				.card__pic {
					height: 120px;
					overflow: visible;
					img {
						top: auto;
						transform: translate(0, 0);
						min-width: auto;
						min-height: auto;
					    bottom: 0;
					    left: -10px;
					    height: 105%;
					}
				}
				.card__content {
					padding-top: 0;
				}
			}
			&.card--interview {
				overflow: visible;
				.card__article {
					display: flex;
					flex-direction: row-reverse;
					height: 100%;
				}
				.card__content {
					width: 70%;
					height: 100%;
				}
				.card__pic {
					width: 30%;
					height: 100%;
					overflow: visible;
					img {
						left: auto;
						top: auto;
						transform: translate(0, 0);
						min-width: auto;
						min-height: auto;
					    bottom: 0;
					    right: 0;
					    max-height: calc(100% + 10px);
    					max-width: calc(100% + 50px);
					}
				}
				.card__subtitle {
					margin-bottom: 18px;
				}
				.card__name {
					font-size: 22px;
					line-height: 30px;
					letter-spacing: 0.3px;
					font-weight: 700;
				}
				.card__position {
					font-size: 14px;
					line-height: 24px;
					letter-spacing: 0.53px;
					margin-top: 6px;
				}
			}
		}
	}
}