extends ../base
block title
	| incomer
block main
	
	//- include ../../components/Socials/index
	include ../../components/Header/index
	include ../../components/Auth/index

	div.container
		
		include ../../components/Tags/index
		div.tag
			ul.tag__list
				+tag('#', 'Газовый скандал')
				+tag('#', 'elections-scandal')
				+tag('#', 'Тим Кук')
				+tag('#', 'Facebook')
				+tag('#', 'Apple')

		div.wrap
			div.main-wrap
				div.aticles-wrap
					include ../../components/TopArticles/index
					include ../../components/PopularArticles/index
				div.news-wrap
					include ../../components/MainNews/index
			div.sidebar-wrap
				include ../../components/VideoPreviews/index
				include ../../components/CompaniesRating/index
	
	include ../../components/Footer/index

	include ../../components/Modal/index

	//- include ../../../img/sprite-header.svg
	//- include ../../../img/sprite-socials.svg
