extends ../base
block title
	| incomer
block main
	
	//- include ../../components/Socials/index
	include ../../components/Header/index
	include ../../components/Auth/index

	main.main
		div.container
			include ../../components/Tags/index
			div.tag
				ul.tag__list
					+tag('#', 'Газовый скандал')
					+tag('#', 'elections-scandal')
					+tag('#', 'Тим Кук')
					+tag('#', 'Facebook')
					+tag('#', 'Apple')

			div.wrap
				div.main-wrap
					div.aticles-wrap
						include ../../components/TopArticles/index
						include ../../components/PopularArticles/index
					div.news-wrap
						include ../../components/Card/index

						div.news
							div.row
								+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--long-full-img')
								+card('#', 'img/photo-dark.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--long-full-img')
							div.row
								+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
								+card('#', 'img/photo-dark.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
								+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--square-full-img')
							div.row
								+card('#', 'img/photo-dark.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--long-full-img')
								+card('#', 'img/photo-light.jpg', 'Facebook презентовал своё первое электронное устройство', 1034, 537)(class='card--long-full-img')

							button.more Показать еще





				div.sidebar-wrap
					div.sidebar
						include ../../components/VideoPreviews/index
						include ../../components/CompaniesRating/index
		
	include ../../components/Footer/index

	include ../../components/Modal/index

	//- include ../../../img/sprite-header.svg
	//- include ../../../img/sprite-socials.svg
