@import '../variables.scss';
@import '../mixins.scss';
@import '../extensions.scss';
@import '../main.scss';

@import '../../components/Header/style.scss';
@import '../../components/Auth/style.scss';
@import '../../components/Tags/style.scss';
@import '../../components/TopArticles/style.scss';
@import '../../components/PopularArticles/style.scss';
@import '../../components/VideoPreviews/style.scss';
@import '../../components/CompaniesRating/style.scss';
@import '../../components/MainNews/style.scss';
@import '../../components/Footer/style.scss';
@import '../../components/Socials/style.scss';
@import '../../components/Modal/style.scss';

.wrap {
    font-size: 0;
    margin-bottom: 72px;
}

.main-wrap {
    width: 948px;
    display: inline-block;
}

.aticles-wrap {
    display: flex;
    vertical-align: top;
    display: inline-flex;
}

.news-wrap {

}

.sidebar-wrap {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    display: inline-flex;
    margin-left: 24px;
    width: 300px;
}

.logo {
    padding: 12px 12px 12px 0;
    text-decoration: none;
    display: inline-block;
    svg {
        width: 110px;
        display: inline-block;
    }
}

.block__title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 25px;
}

.views,
.comments {        
    font: 700 14px 'Museo Sans Cyrl', Arial, sans-serif;
    margin: 15px 24px 0 25px;
    position: relative;
    display: inline-block;
    &:before {
        content: '';
        background-repeat: no-repeat;
        background-size: 20px;
        position: absolute;
        left: -25px;
        top: calc(50% - 2px);
        transform: translate(0, -50%);
        width: 20px;
        height: 19px;
    }
}

.views {
    &:before {
        background-image: url('../../../img/eye@2x.png');
    }
}

.comments {
    &:before {
        background-image: url('../../../img/comment@2x.png');
    }
}