@import '../variables.scss';
@import '../mixins.scss';
@import '../extensions.scss';
@import '../main.scss';

@import '../../components/Header/style.scss';
@import '../../components/Auth/style.scss';
@import '../../components/Tags/style.scss';
@import '../../components/TopArticles/style.scss';
@import '../../components/PopularArticles/style.scss';
@import '../../components/VideoPreviews/style.scss';
@import '../../components/CompaniesRating/style.scss';
@import '../../components/Card/style.scss';
@import '../../components/Footer/style.scss';
@import '../../components/Socials/style.scss';
@import '../../components/Modal/style.scss';

.card--large .card__text {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0;
}

.main {
    padding: 18px 0 54px;
}

.wrap {
    font-size: 0;
    display: flex;
}

.main-wrap {
    width: 948px;
    display: inline-block;
}

.aticles-wrap {
    display: flex;
    vertical-align: top;
    display: inline-flex;
}

.news-wrap {

}

.sidebar-wrap {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    display: inline-flex;
    margin-left: 24px;
    width: 300px;
    position: relative;
}

.logo {
    padding: 12px 12px 12px 0;
    text-decoration: none;
    display: inline-block;
    svg {
        width: 110px;
        display: inline-block;
    }
}

.block__title {
    @extend %title;
    margin-bottom: 24px;
}

.tag {
    margin-bottom: 24px;
}

.news {
    font-size: 16px;
    line-height: 24px;
    .row {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
    }
    &__btn,
    .more {
        margin: 24px auto 16px;
        display: block;
        @extend %btn;
        font-size: 16px;
        font-family: 'Museo Sans Cyrl', Arial, sans-serif;
    }
}