div.rate
	ul.rate__list.rate__list--active
		li.rate__item 
			span Bitcoin
			span $6.8281,50
		li.rate__item 
			span Ethereum
			span $1.4917,28
		li.rate__item 
			span Zcash
			span $809,91
	ul.rate__list
		li.rate__item 
			span Ripple
			span $6.8281,50
		li.rate__item 
			span EOS
			span $1.4917,28
		li.rate__item 
			span Bitcoin Cash
			span $809,91
	ul.rate__list
		li.rate__item 
			span XRP
			span $6.8281,50
		li.rate__item 
			span Stellar
			span $1.4917,28
		li.rate__item 
			span Litecoin
			span $809,91