.info {
	// width: calc(25% - 24px);
	width: 300px;
	margin-right: 24px;
	font-size: 16px;
	display: inline-block;
	&__main {
		@extend %card;
		// font-size: 0;
		// padding: 24px 14px;
		padding: 24px;
		display: flex;
    	// justify-content: space-between;
    	align-items: center;
    	margin-bottom: 24px;
	}
	&__pic {
    	width: 64px;
		height: 64px;
		position: relative;
		overflow: hidden;
		border-radius: 6px;
		img {
			// max-width: 60px;
			// max-height: 60px;
			position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translate(-50%, -50%);
		    height: 100%;
		}
	}
	&__text {
		margin-left: 10px;
		// margin: 0 5px;
		// max-width: 114px;
		max-width: calc(100% - 64px - 10px);
    	overflow: hidden;
	}
	&__title {
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		// font-size: 24px;
		// letter-spacing: 0.7px;
		// word-break: break-all;
	}
	&__exchange {
		margin: 4px 20px 0 0;
		font-size: 12px;
		display: inline-block;
	}
	&__stock {
		margin-top: 4px;
		font-size: 14px;
		font-weight: 700;
		display: inline-block;
		svg {
			height: 12px;
			stroke-width: 2;
			vertical-align: middle;
		}
		&--increase {
			color: #20a735;
			// color: #29852f;
			// color: #77c249;
			svg {
				transform: rotate(-90deg);
				path {
					stroke: #20a735;
					fill: #20a735;
				}
			}
		}
		&--reduce {
			color: #c25149;
			svg {
				transform: rotate(90deg);
				path {
					fill: #c25149;
					stroke: #c25149;
				}
			}
		}
		// svg {
		// 	width: 15px;
		// 	height: 15px;
		// 	margin-right: 3px;
		// }
		// span {
		// 	font-size: 16px;
		// 	// font-size: 18px;
		// 	letter-spacing: 0.5px;
		// }
	}
	&__stock-value {
		vertical-align: middle;
		&:before {
			content: '$';
		}
	}
	&__detail {
		@extend %card;
		padding: 24px;
	}
	&__tabs {
		padding-bottom: 20px;
		border-bottom: 1px solid $light-grey-color;
	}
	&__tab-item {
		display: inline-block;
	}
	&__tab-link {
		display: inline-block;
		padding: 5px 12px;
		font-size: 12px;
		text-decoration: none;
		color: $main-dark-grey-color;
		border-radius: 15px;
		@include transition(background-color);
		&--active,
		&:hover,
		&:focus,
		&:active {
			background-color: $main-light-grey-color;
		}
	}
	&__tabs-content {
		
	}
	&__tab-content {
		margin-top: 24px;
		display: none;
		&--active {
			display: block;
		}
		.info__description {
			&:not(:last-of-type) {
				// margin-bottom: 0;
			}
		}
	}
	&__brief {

	}
	&__caption {
		margin-bottom: 8px;
		font-size: 12px;
		letter-spacing: 0.3px;
		color: rgba(36, 36, 36, 0.6);
	}
	&__description {
		margin-bottom: 21px;
		font-size: 14px;
		letter-spacing: 0.4px;
		font-weight: 700;
		color: $dark-grey-color;
		a {
			text-decoration: none;
			color: $default-blue;
			@include transition(color);
			&:hover,
			&:focus,
			&:active {
				color: $darker-blue;
			}
		}
	}
	&__contact {

	}
	&__contact-title {
		font-weight: 900;
		letter-spacing: 0.2px;
		font-size: 18px;
		margin: 36px 0 12px;
	}
	&__content {
		font-size: 14px; 
		line-height: 24px;
		p {
			&:not(:last-of-type) {
				margin-bottom: 12px;
			}
		}
	}
	&__filial-list {
		
	}
	&__filial-item {
		list-style-type: none;
		&:not(:last-of-type) {
			margin-bottom: 6px;
		}
	}
	&__filial-link {
		display: block;
		text-decoration: none;
		color: $main-dark-grey-color;
		font-weight: 700;
		@include transition(color);
		&:hover,
		&:focus,
		&:active {
			color: $default-blue;
		}
	}
}