div.news
	div.news__row
		a.news__link.news__link--long(href='post.html')
			article.news__article.news__article--right
				div.news__article-pic
					img(src='img/photo-dark.jpg')
				div.news__article-text
					p Facebook презентовал своё первое электронное устройство
					span.views 904
					span.comments 308
		a.news__link.news__link--long(href='post.html')
			article.news__article.news__article--right
				div.news__article-pic
					img(src='img/photo-dark.jpg')
				div.news__article-text
					p Facebook презентовал своё первое электронное устройство
					span.views 904
					span.comments 308

	div.news__row
		a.news__link.news__link--square(href='post.html')
			article.news__article
				div.news__article-pic
					img(src='img/photo-dark.jpg')
				div.news__article-text
					p Facebook презентовал своё первое электронное устройство
					span.views 904
					span.comments 308
		a.news__link.news__link--square(href='post.html')
			article.news__article
				div.news__article-pic
					img(src='img/photo-dark.jpg')
				div.news__article-text
					p Facebook презентовал своё первое электронное устройство
					span.views 904
					span.comments 308
		a.news__link.news__link--square(href='post.html')
			article.news__article
				div.news__article-pic
					img(src='img/photo-dark.jpg')
				div.news__article-text
					p Facebook презентовал своё первое электронное устройство
					span.views 904
					span.comments 308

	div.news__row
		a.news__link.news__link--long(href='post.html')
			article.news__article.news__article--right
				div.news__article-pic
					img(src='img/photo-dark.jpg')
				div.news__article-text
					p Facebook презентовал своё первое электронное устройство
					span.views 904
					span.comments 308
		a.news__link.news__link--long(href='post.html')
			article.news__article.news__article--right
				div.news__article-pic
					img(src='img/photo-dark.jpg')
				div.news__article-text
					p Facebook презентовал своё первое электронное устройство
					span.views 904
					span.comments 308