.news {
	font-size: 16px;
	// line-height: 1.5;
	line-height: 24px;
	&__row {
		margin-top: 24px;
		display: flex;
		justify-content: space-between;
	}
	&__link {
		text-decoration: none;
		&:not(:last-of-type) {
			margin-right: 24px;	
		}
		&--long {
			@extend %long;
			display: block;
			.news__article {
				display: flex;
			}
			.news__article-pic {
				width: 40%;
			}
			.news__article-text {
				padding: 25px;
				width: 60%;
				font-weight: 700;
			}
		}
		&--square {
			@extend %square;
			.news__article-pic {
				height: 160px;
			}
			.news__article-text {
				@extend %preview-text;
			}
		}
	}
	&__article {
		@extend %card;
		overflow: hidden;
		height: 100%;
	}
	&__article-pic {
		position: relative;
		overflow: hidden;
		img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			min-width: 100%;
    		min-height: 100%;
		}
	}
	&__article-text {
		color: $main-dark-grey-color;
	}
}